global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  tune.ssl.default-dh-param 2048

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
        timeout connect {{ haproxy_connect_timeout }}
        timeout client {{ haproxy_client_timeout }}
        timeout server {{ haproxy_server_timeout }}

listen stats
    bind :{{ haproxy_listen_port }}
    mode http
    balance
    stats uri /haproxy_stats
    stats auth admin:admin123
    stats admin if TRUE

frontend {{ haproxy_frontend_name }}
    bind :{{ haproxy_frontend_port }}
    mode {{ haproxy_frontend_mode }}
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    mode {{ haproxy_backend_mode }}
    balance {{ haproxy_backend_balance_method }}
    stick-table type ip size 200k expire 30m
    stick on src
{% for backend in groups['masters'] %}
    server {{ hostvars[backend]['inventory_hostname'] }} {{ hostvars[backend]['ansible_host'] }}:6443 check
{% endfor %}

